html,
body {
  margin: 0;
  padding: 0;
  font-family: "Futura New", "sans-serif";
}

body {
  background-color: #233434;
}

input,
button,
textarea,
select,
option {
  outline: none;
}

button {
  background-color: transparent;
}

h1 {
  color: #F0EFEB;
  margin: 0;
  padding: 0;

}

h2 {
  padding: 0;
  margin: 0;
  color: #F0EFEB;
}

p {
  padding: 0;
  margin: 0;
  color: #F0EFEB;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #D8AC7A;
}

@font-face {
  font-family: 'Futura New';
  src: local("Futura New");
  src: url('fonts/FuturaNewMedium-Reg.eot');
  src: url('fonts/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaNewMedium-Reg.woff2') format('woff2'),
    url('fonts/FuturaNewMedium-Reg.woff') format('woff'),
    url('fonts/FuturaNewMedium-Reg.ttf') format('truetype');
  url('FuturaNewMedium-Reg.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: local("Futura New");
  src: url('fonts/FuturaNewBold-Reg.eot');
  src: url('fonts/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaNewBold-Reg.woff2') format('woff2'),
    url('fonts/FuturaNewBold-Reg.woff') format('woff'),
    url('fonts/FuturaNewBold-Reg.ttf') format('truetype');
  url('fonts/FuturaNewBold-Reg.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Slides */
/* Block1 */
.Block1 {
  max-width: 1440px;
  margin: 0 auto;
}

.sl_slide {
  background-image: url(./img/slide1.png);
  height: 585px;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-dots li button {
  font-size: 12px;
}

.slick-dots li button:before {
  position: relative;
  opacity: 0.45;
  top: 40px;
  border: 1px solid #386060;
  border-radius: 50%;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  background-color: #386060;
}

.sl .slick-list {
  height: 585px;
}

/* Central-block */
.central-text {
  display: flex;
  justify-content: center;
  margin-top: 116px;
}

.central-text p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #F0EFEB;
  opacity: 0.45;
  width: 818px;
}

/* Number */

/* Block2 */
.block2 {
  width: 1440px;
  height: 324px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 104px;
  margin: 0 auto;
}

.item1,
.item2,
.item3,
.item4 {
  flex-basis: 25%;
  background: rgba(41, 58, 58, 0.95);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part1,
.part2,
.part3,
.part4 {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 200px;
}

.border1:before {
  content: " ";
  position: absolute;
  border-right: 1px dashed #D8AC7A;
  height: 212px;
  margin-top: 56px;
  right: 75%;
}

.border2:before {
  content: " ";
  position: absolute;
  border-right: 1px dashed #D8AC7A;
  height: 212px;
  margin-top: 56px;
  right: 50%;
}

.border3:before {
  content: " ";
  position: absolute;
  border-right: 1px dashed #D8AC7A;
  height: 212px;
  margin-top: 56px;
  right: 25%;
}

.border4:before {
  content: " ";
  position: absolute;
  border-right: 1px dashed #D8AC7A;
  height: 212px;
  margin-top: 56px;
  right: 25%;
  display: none;
}

.block2 h2 {
  font-weight: bold;
  font-size: 120px;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #D8AC7A;
  color: rgba(216, 172, 122, 0);
}

.block2 p {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #F0EFEB;
  opacity: 0.45;
}

/*Block3*/
/*Top Complex How it Work*/
.top-complex-hiw {
  display: flex;
  align-items: center;
  height: 387px;
  margin-top: 140px;
}

.top-hiw {
  width: 100%;
  max-width: 1002px;
  height: 271px;
  margin: 0 auto;
}

.hiw-header-txt {
  text-align: center;
  text-transform: uppercase;
}

.hiw-list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.list-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-description-txt {
  display: flex;
  align-items: center;
}

.list-description-line {
  width: 90px;
  height: 1px;
  background-color: #386060;
}

.hiw-img img {
  width: 100%;
}

.hiw-img {
  height: 80px;
}

.hiw-img-position {
  margin-left: 25px;
}

.hiw-img-home {
  width: 87px;
}

.hiw-img-money {
  width: 80px;
}

.hiw-img-repair {
  width: 70px;
}

.hiw-img-control {
  width: 74px;
}

.number {
  margin: 0;
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  color: #386060;
}

.number-margin {
  margin-right: 10px;
}

.number-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43px;
}

.top-complex-hiw .number-txt p {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
}

.number-txt-more {
  width: 200px;
}

.number-txt-size {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43px;
}

.number-size-more {
  width: 266px;
}

/*Top Complex How it Work ----------------------------------------------------------------*/
/* Block3-mobile */
.advice-mobile {
  display: none;
  height: 374px;
  background-image: url("img/mobile-img/advice_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -153px;
  align-items: center;
  margin-bottom: 46px;
  position: relative;
}

.inner {
  width: 100%;
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: absolute;
}

.inner .inputs {
  position: absolute;
  bottom: 70px;
}

.advice-mobile h1 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  position: absolute;
  top: 20px;
}

.advice-mobile p {
  font-size: 14px;
  opacity: 0.45;
  text-align: center;
  line-height: 18px;
  width: 250px;
  position: absolute;
  top: 70px;
}

.inner .name_block7 {
  width: 335px;
}

.inner .border-input {
  width: 335px;
  margin-top: 20px;
}

.button-phone button {
  width: 249px;
  height: 42px;
  border: 1px solid #D8AC7A;
  color: #D8AC7A;
}

.button-phone {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 375px;
  bottom: 40px;
}


/* Block4 */
.complex-offer {
  height: 430px;
  display: flex;
  justify-content: center;
  background: url(img/section-offer.png) no-repeat;
  background-size: cover;
}

.section-offer {
  width: 844px;
  text-align: center;
  margin-top: 40px;
}

.section-offer h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F0EFEB;
}

.section-offer p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #F0EFEB;
  opacity: 0.45;
  margin-top: 21px;
}

.section-offer button {
  width: 250px;
  height: 42px;
  background-color: transparent;
  border: solid 1px #D8AC7A;
  color: #D8AC7A;
  margin-top: 77px;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.section-offer button:hover {
  opacity: 1;
}

/* Block5 */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 1096px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-margin {
  margin-top: 36px;
}

.hiw-more {
  width: 700px;
  background-color: #293A3A;
  position: relative;
}

.hiw-more li {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  list-style: none;
  color: #F0EFEB;
  opacity: 0.45;
  line-height: 25px;
}

.hiw-home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.hiw-home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  position: relative;
}

.hiw-img-description-position {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 39px;
  margin-top: 9px;
}

.left-top {
  width: 320px;
  height: 172px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #386060;
}

.left-bottom {
  display: flex;
}

.details-line {
  width: 90px;
  height: 1px;
  background-color: #386060;
}

.number-big p {
  font-weight: bold;
  font-style: normal;
  font-size: 162px;
  color: #233434;
}

.left-bottom-left {
  width: 270px;
  margin-right: 45px;
}

.left-bottom-right {
  width: 270px;
}

.left-bottom-right ul li:nth-child(1) {
  margin-bottom: 10px;
}

.right-top-bottom-txt {
  position: absolute;
  width: 125px;
  height: 29px;
  border-bottom: solid 1px #D8AC7A;
  /* text-align: center; */
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #D8AC7A;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50px);
}

.right-bottom button {
  outline: none;
  width: 250px;
  height: 42px;
  background-color: transparent;
  border: solid 1px #D8AC7A;
  color: #D8AC7A;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.right-bottom button:hover {
  opacity: 1;
}

.number-txt p {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 18px;
}

.txt-more {
  width: 288px;
}

.left-top-more {
  width: 414px;
}

.hiw-img img {
  width: 100%;
}

.hiw-img {
  height: 80px;
}

.hiw-img-position {
  margin-left: 25px;
}

.hiw-img-home {
  width: 87px;
}

.hiw-img-money {
  width: 80px;
}

.hiw-img-repair {
  width: 70px;
}

.hiw-img-control {
  width: 74px;
}

/* Slide2 */
.available-objects {
  position: relative;
  height: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-pro {
  position: absolute;
  max-width: 1198px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.img-build {
  width: 425px;
  height: 287px;
  background-image: url("img/buildings2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.available-gradient {
  position: absolute;
  width: 425px;
  height: 237px;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(41, 58, 58, 0) 0%, #293A3A 52.17%);
}

.slick-list {
  height: 315px;
}

.slick-slide {
  outline: none;
}

.slider__item>div {
  transition: transform .3s cubic-bezier(.4, 0, .2, 1);
}

.slick-slide .img-build {
  transition: transform 0.5s;
  transform: scale(0.6);

}

.slick-slide .available-gradient {
  transition: transform 0.5s;
  transform: scale(0.6);

}

.img-build {
  box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.26);
}

.slick-slide .img-build {
  box-shadow: none;
  /*transition: box-shadow 0.5s ease-in-out;*/
}

.slick-slide.slick-center .img-build {
  box-shadow: 0px 6px 11px 3px rgba(0, 0, 0, 0.26);
}

.slick-slide.slick-center .img-build {
  transform: scale(1);
}

.slick-slide.slick-center .available-gradient {
  transform: scale(1);
  background-image: linear-gradient(180deg, rgba(41, 58, 58, 0) 0%, #293A3A 60.17%);
}

.slick-slide.slick-center .available-gradient>.description-one {
  height: 165px;
}

.prev {
  left: 6%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 29px;
  height: 16px;
  background: url('img/prev_arrow.png') 0 0 / 100% no-repeat;
}

.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6%;
  width: 29px;
  height: 16px;
  background: url('img/next_arrow.png') 0 0 / 100% no-repeat;
}

.available-top-txt {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  top: 90px;

}

.button-available {
  display: block;
  width: 250px;
  height: 42px;
  position: absolute;
  bottom: 90px;
  background-color: transparent;
  border: 1px solid #D8AC7A;
  color: #D8AC7A;
  cursor: pointer;
  opacity: 0.5;
}

.button-available:hover {
  opacity: 1;
}

.description-one {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

.description-one p:nth-child(1) {
  padding-left: 10px;
}

.description-one p:nth-child(2) {
  padding-right: 10px;
}

.description-one p:nth-child(2)>span {
  padding-right: 10px;
}

.description-two {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.description-two p:nth-child(1) {
  padding-left: 10px;
}

.description-two p:nth-child(2) {
  padding-right: 10px;
}

.available-gradient>p {
  padding-left: 10px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

/* Block6 */
.block6 {
  height: 430px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(img/block6.png) no-repeat;
  background-size: cover;
  margin-top: 86px;
}

.block6-1 {
  width: 992px;
  text-align: center;
  margin-top: 40px;
}

.block6-1 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F0EFEB;
}

.block6-1 p {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #F0EFEB;
  opacity: 0.45;
  margin-top: 21px;
}

.block6-1 button {
  width: 250px;
  height: 42px;
  margin-top: 77px;
  background-color: transparent;
  border: solid 1px #D8AC7A;
  color: #D8AC7A;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.block6-1 button:hover {
  opacity: 1;
}

/* Block7 */
.block7 {
  height: 471px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./img/block7.png) no-repeat;
  background-size: cover;
  margin-top: 84px;
}

.block7-1 {
  width: 844px;
  text-align: center;
  margin-top: 40px;
}

.block7-1 h1 {
  font-family: Futura New;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F0EFEB;
  margin-bottom: 21px;
}

.block7-1 p {
  font-family: Futura New;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #F0EFEB;
  opacity: 0.45;
  margin-top: 21px;
}

.block7_input {
  display: flex;
  justify-content: center;
  height: 183px;
}

.name_block7 {
  width: 432px;
  height: 42px;
  border: 1px solid rgba(240, 239, 235, 0.12);
  background: none;
  font-size: 14px;
  padding-left: 17px;
  box-sizing: border-box;
  color: #F0EFEB;
  margin-top: 41px;
}

.phone_block7 {
  width: 432px;
  height: 42px;
  border: 1px solid rgba(240, 239, 235, 0.12);
  background: none;
  font-size: 14px;
  padding-left: 17px;
  box-sizing: border-box;
  color: #F0EFEB;
  margin-top: 20px;
}

.block7-1 button {
  width: 433px;
  height: 42px;
  margin-top: 37px;
  background-color: transparent;
  border: solid 1px #D8AC7A;
  color: #D8AC7A;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.block7-1 button:hover {
  opacity: 1;
}

/* Block8 */
.slide3 {
  max-width: 1250px;
  margin: 0px auto;
  margin-top: 84px;
  position: relative;
  bottom: 40px;
}

.sl_slide3 img {
  width: 391px;
  height: 274px;
}

.slide3-gradient {
  position: absolute;
  width: 392px;
  height: 192px;
  bottom: 0;
  background: linear-gradient(180deg, rgba(41, 58, 58, 0) 0%, #293A3A 85.58%);
}

.slide3_button {
  display: flex;
  justify-content: center;
}

.slide3_button button {
  width: 250px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  color: #D8AC7A;
  background-color: transparent;
  border: 1px solid #D8AC7A;
  cursor: pointer;
  opacity: 0.5;
}

.slide3_button button:hover {
  opacity: 1;
}

.slide3_next {
  right: -40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 29px;
  height: 16px;
}

.slide3_prev {
  left: -40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 29px;
  height: 16px;
}

/* Text */
.slick-initialized .slick-slide {
  position: relative;
}

.city,
.street,
.apart {
  position: absolute;
  font-family: Futura New;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  color: #F0EFEB;
  padding-left: 16px;
}

.city {
  right: 30px;
  bottom: 35px;
}

.street {
  bottom: 15px;
}

.apart {
  bottom: 35px;
}

.slide3 h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
  font-family: Futura New;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #F0EFEB;
}

.slide3_text {
  width: 250px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D8AC7A;
  margin-top: 3px;
}

/* Block5-mobile */
/*Hiw More Details 1*/
.block5-mobile {
  height: 470px;
  background-color: #293A3A;
  display: none;
}

.hiw-more-details-margin {
  margin-top: 60px;
}

.hiw-more-mobile {
  width: 100%;
  max-width: 1320px;
  /* height: 100%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hiw-more-mobile .left-bottom-right-mobile ul li {
  width: 300px;
}

.mobile2 .left-bottom-right-mobile ul li {
  width: 350px;
}

.mobile3 .left-bottom-left-mobile ul li {
  width: 350px;
}

.hiw-home-top-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.home-details-mobile {
  position: relative;
  transform: translateY(-15px);
}

.home-details-more {
  position: relative;
  transform: translateY(-20px);
}

.size-height {
  height: 53px;
}

.left-top-mobile {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  position: relative;
}

.details-line-mobile {
  width: 75px;
  height: 1px;
  background-color: #386060;
}

.number-big-mobile p {
  font-weight: bold;
  font-style: normal;
  font-size: 162px;
  color: #233434;
}

.left-bottom-mobile {
  display: flex;
  flex-basis: 50%;
}

.right-bottom-mobile {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 20px;
  margin-bottom: 25px;
}

.left-bottom-left-mobile {
  width: 270px;
  margin-right: 45px;
}

.left-bottom-left-mobile p {
  letter-spacing: 6%;
}

.left-bottom-left-mobile ul li {
  color: #F0EFEB;
  opacity: 0.45;
  font-size: 14px;
}

.left-bottom-right-mobile {
  width: 300px;
  bottom: -10px;
  position: relative;
}

.left-bottom-right-mobile ul li {
  color: #F0EFEB;
  opacity: 0.45;
  font-size: 14px;
  bottom: 10px;
  position: relative;
  width: 400px;
}

.hiw-home-bottom-mobile {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
}

.mobile2 .hiw-home-bottom-mobile {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* bottom: 0px; */
}

.mobile3 .hiw-home-bottom-mobile {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
}

.right-bottom-mobile button {
  outline: none;
  height: 42px;
  background-color: transparent;
  border: solid 1px #D8AC7A;
  color: #D8AC7A;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  top: 0;
}

.mobile1 .right-bottom-mobile button {
  /* top: -37px; */
}

.mobile2 .right-bottom-mobile button {
  top: -5px;
}

.mobile3 .right-bottom-mobile button {
  /* top: -5px; */
}

/*Hiw More Details 1 ----------------------------------------------------------------*/

/*Hiw More Details 2*/
.right-top-back-mobile {
  position: absolute;
  width: 533px;
  height: 277px;
  right: 0;
  top: -60px;
  background-image: url(img/apartment_back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left-bottom-left-more-mobile {
  width: 313px;
  margin-right: 22px;
}

.left-bottom-left-more-mobile ul li {
  color: #F0EFEB;
  opacity: 0.45;
  font-size: 14px;
}

.left-bottom-right-more-mobile {
  width: 313px;
}

.left-bottom-right-more-mobile {
  color: #F0EFEB;
  opacity: 0.45;
}

/*Hiw More Details 2----------------------------------------------------------------*/
/*Hiw More Details 3*/
.hiw-more-details-third-mobile {
  height: 656px;
}

/* Phone-input */
.phoneMenuItem {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.name-phone .dropdown {
  background-color: rgba(35, 52, 52, 1);
  z-index: 1;
  max-height: 95px;
  overflow-y: auto;

}

.dropdown::-webkit-scrollbar {
  width: 4px;
  background: white;
}

.dropdown::-webkit-scrollbar-thumb {
  background: rgba(216, 172, 122, 1)
}

.name-phone .dropdown li {
  display: block;
  opacity: 0.35;
  color: rgba(240, 239, 235, 0.45);
  cursor: pointer;
}

.name-phone .dropdown li:hover {
  opacity: 1;
  border-bottom: 2px solid #F0EFEB;
  font-size: 16px;
}

.name-phone .dropdown li:last-child {
  margin-bottom: 10px;
}

.border-input {
  width: 432px;
  height: 42px;
  border: 1px solid rgba(240, 239, 235, 0.12);
  background: none;
  font-size: 14px;
  box-sizing: border-box;
  color: #F0EFEB;
  margin-top: 41px;
  position: relative;
}

.border-input .phone {
  border: none;
  background: none;
  font-size: 14px;
  color: white;
  left: 60px;
  top: 10px;
  width: 150px;
  border-left: 1px solid white;
  padding-left: 10px;
  position: absolute;
}

.phone-number {
  left: 20px;
  top: 10px;
  position: absolute;
  color: white;
}

.block7-1 .name_block {
  display: flex;
  justify-content: center;
}

.block7-1 .name-phone {
  display: flex;
  justify-content: center;
}

.border-input .arrow-img {
  right: 10px;
}

.arrow-img img {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  outline: none;
}

.wrapper:after {
  content: "";
  position: absolute;
  cursor: pointer;
}

.wrapper img {
  top: 10px;
  right: 15px;
  width: 17px;
  height: 17px;
  position: absolute;
  cursor: pointer;
}

.wrapper .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  padding: 0 17px 0 17px;
  border: 1px solid rgba(240, 239, 235, 0.45);
  border-top: 0;
}

.wrapper .dropdown li a {
  display: block;
  padding: 10px 0 10px 0;
  opacity: 0.45;
  outline: none;
  color: #F0EFEB;
}

.wrapper.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.rotate {
  transform: rotate(180deg);
  margin-top: 7px;
}

/*Hiw More Details 3-----------------------------------------------------------------*/
/*Hiw More Details 4*/
/*Hiw More Details 4-----------------------------------------------------------------*/
/* Media for mobile */
@media only screen and (max-width : 375px) {
  .wrapper.active .dropdown {
    height: 95px;
  }

  /* Main slide-Block1 */
  .block1 {
    width: 375px;
  }

  .sl_slide {
    background-image: url(./img/mobile-img/main-slide-mobile.png);
    height: 265px;
  }

  .sl .slick-list {
    height: 265px;
  }

  .central-text {
    margin-top: 60px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .central-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #F0EFEB;
    opacity: 0.45;
  }

  .slick-dots li button:before {
    opacity: 0.45;
    top: 20px;
    border: 1px solid #386060;
    border-radius: 50%;
    font-size: 7px;
  }

  /* Block2 */
  .block2 {
    width: 375px;
    height: 362px;
    top: 40px;
  }

  .part1,
  .part2,
  .part3,
  .part4 {
    width: 187px;
    line-height: 100px;
  }

  .block2 h2 {
    font-size: 80px;
  }

  .block2 p {
    font-size: 14px;
    line-height: 18px;
  }

  .border1::before {
    content: " ";
    border: 1px dashed #D8AC7A;
    transform: rotate(90deg);
    height: 141px;
    top: 55px;
  }

  .border2::before {
    content: " ";
    border: 1px dashed #D8AC7A;
    height: 141px;
    right: 50%;
    margin-top: 20px;
  }

  .border3::before {
    content: " ";
    border: 1px dashed #D8AC7A;
    height: 141px;
    right: 50%;
    bottom: 20px;
  }

  .border4::before {
    content: " ";
    border: 1px dashed #D8AC7A;
    transform: rotate(90deg);
    height: 141px;
    top: 55px;
    right: 25%;
    display: block;
  }

  /* Block3 */
  .top-hiw {
    height: 100%;
  }

  .hiw-list {
    flex-direction: column;
    margin-left: 25px;
    margin-top: 30px;
  }

  .list-description {
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
  }

  .number-txt {
    position: absolute;
    left: 140px;
  }

  .number-margin {
    margin: 0;
  }

  .hiw-header-txt {
    font-size: 18px;
  }

  .hiw-img {
    width: 42px;
    height: 0;
  }

  .hiw-img-home {
    height: 38px;
  }

  .hiw-img-repair {
    height: 48px;
  }

  .hiw-img-money {
    height: 42px;
  }

  .hiw-img-control {
    height: 45px;
  }

  .hiw-img {
    display: flex;
    align-items: center;
  }

  .advice-mobile {
    display: flex;
  }

  .hiw-more {
    max-width: 335px;
  }

  .hiw-more-details {
    height: 731px;
  }

  .hiw-home-top {
    flex-direction: column;
  }

  .right-top-img:nth-child(2) {
    display: none;
  }

  .number-big p {
    font-size: 72px;
  }

  .number-txt-size {
    height: 30px;
    font-size: 12px;
    margin-left: 10px;
  }

  .home-details {
    position: inherit;
    transform: none;
    display: flex;
    margin-left: 10px;
    align-items: center;
  }

  .hiw-img-description-position {
    position: inherit;
    left: 0;
    transform: none;
    margin-bottom: 0;
  }

  .left-top {
    width: 335px;
    height: 52px;
  }

  .right-top {
    flex-basis: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hiw-home-bottom {
    flex-direction: column;
  }

  .left-bottom {
    flex-direction: column;
  }

  .right-top-bottom-txt {
    margin-left: 0;
  }

  .right-bottom {
    justify-content: center;
  }

  .right-bottom button {
    width: 249px;
  }

  .right-top-back {
    transform: rotate(90deg);
    left: -24px;
    top: 90px;
  }

  /* Slide2 */
  .slider-pro {
    max-width: 375px;
  }

  .img-build,
  .available-gradient {
    width: 312px;
    height: 234px;
  }

  .available-objects {
    bottom: 60px;
    height: 595px;
  }

  .prev,
  .next {
    display: none;
  }

  .available-top-txt {
    font-size: 18px;
    letter-spacing: 0.06em;
  }

  .slider-pro .slick-dots li button:before {
    position: relative;
    border: 1px solid rgba(216, 172, 122, 1);
    border-radius: 50%;
    font-size: 7px;
  }

  .slider-pro .slick-dots li.slick-active button:before {
    background-color: rgba(216, 172, 122, 1);
    opacity: 1;
  }

  .button-available {
    opacity: 1;
    margin-bottom: 35px;
  }

  .slider-pro .slick-dots {
    position: absolute;
    bottom: 65px;
  }

  /* Slide3 */
  .slide3 {
    max-width: 358px;
    bottom: 200px;
    position: relative;
  }

  .sl_slide3 img {
    width: 306px;
    height: 214px;
  }

  .slide3-gradient {
    width: 306px;
    height: 214px;
    bottom: 0;
  }

  .slide3 h1 {
    font-size: 18px;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
  }

  .slide3 .slick-dots li button {
    font-size: 12px;
  }

  .slide3 .slick-dots li button:before {
    position: relative;
    border: 1px solid rgba(216, 172, 122, 1);
    border-radius: 50%;
    font-size: 7px;
  }

  .slide3 .slick-dots li.slick-active button:before {
    background-color: rgba(216, 172, 122, 1);
    opacity: 1;
  }

  .slide3_button button {
    opacity: 1;
  }

  .slide3_button {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
  }

  .slide3_prev,
  .slide3_next {
    display: none;
  }

  .slide3 .slick-dots {
    position: absolute;
    bottom: 90px;
  }

  /* Block4 */
  .complex-offer {
    height: 375px;
    display: flex;
    justify-content: center;
    background: url(img/mobile-img/mobile-offer.png) no-repeat;
    background-size: cover;
    margin-top: 86px;
    margin-top: -30px;
  }

  .section-offer h1 {
    font-size: 18px;
    letter-spacing: 0.08em;
    margin-top: 20px;
  }

  .section-offer p {
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
  }

  .section-offer button {
    margin-top: 40px;
    opacity: 1;
  }

  /* Block6 */
  .block6 {
    height: 322px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(img/mobile-img/block6-mobile.png) no-repeat;
    background-size: cover;
    bottom: 170px;
    position: relative;
  }

  .block6-1 h1 {
    font-size: 18px;
    letter-spacing: 0.08em;
  }

  .block6-1 p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .block6-1 button {
    opacity: 1;
    margin-top: 35px;
  }

  /* Block7 */
  .block7 {
    display: none;
  }

  /* Block5-mobile */
  .hiw-more-mobile {
    max-width: 335px;
  }

  .block5-mobile {
    height: 442px;
    display: block;
    position: relative;
    bottom: 140px;
    position: relative;
  }

  .container {
    display: none;
  }

  .hiw-home-top-mobile {
    flex-direction: column;
  }

  .number-big-mobile p {
    font-size: 72px;
  }

  .number-txt-size {
    height: 30px;
    font-size: 12px;
    margin-left: 10px;
  }

  .home-details-mobile {
    position: inherit;
    transform: none;
    display: flex;
    margin-left: 10px;
    align-items: center;
  }

  .hiw-img-description-position {
    position: inherit;
    left: 0;
    transform: none;
    margin-bottom: 0;
  }

  .left-top-mobile {
    width: 335px;
    top: 20px;
  }

  .mobile2 .left-top-mobile {
    width: 335px;
    /* top: 20px; */
  }

  .hiw-home-bottom-mobile {
    flex-direction: column;
  }

  .left-bottom-mobile {
    flex-direction: column;
    margin-top: 36px;
  }

  .mobile3 .left-bottom-mobile {
    flex-direction: column;
    margin-top: 0px;
  }

  .right-bottom-mobile {
    justify-content: center;
  }

  .right-bottom-mobile button {
    width: 249px;
  }

  .right-top-back-mobile {
    transform: rotate(90deg);
    left: -24px;
    top: 90px;
  }

  .mobile1 {
    height: 460px;
  }

  .mobile2 {
    height: 531px;
  }

  .mobile3 {
    height: 413px;
  }

  .size-height {
    height: 40px;
  }

  .home-details-more {
    position: inherit;
    transform: none;
    display: flex;
    margin-left: 10px;
    align-items: center;
  }

  .number-size-more {
    width: 180px;
    line-height: 17px;
  }
}

/* Phone-input-mobile */